<div id="calendar"></div>
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'"
          class="close" id="id01-close" title="Close Modal">&times;</span>
  <div class="modal-content animate">
  	<div id="form-container" class="container"></div>
  </div>
</div>
